# Copy this file to .env and set project-specific deploy paths.

WP_ENV_PORT=8888
VITE_DEV_SERVER_URL=
LOCAL_NETWORK_IP=
WEBP_QUALITY=82

DEV_SSH_HOST=example-dev
DEV_THEME_PATH=/home/example/public_html/wp-content/themes/swell_child/

PRD_SSH_HOST=example-prod
PRD_THEME_PATH=/home/example/public_html/wp-content/themes/swell_child/
