node_modules
themes/swell/
themes/swell_child/assets
themes/swell_child/localhost.json
vite.log
localhost.json
.env
.env.*
!.env.example
.local
.wp-env.override.json
.vscode/*
!.vscode/extensions.json
.DS_Store
CLAUDE.local.md
