@use "../foundation/variables" as *;

.l-footer {
  background-color: $color-main;
  color: $color-white;

  &__inner {
    width: min(85.94%, 1100px);
    margin-inline: auto;
    padding-block: 64px;
  }
}
