@use "../foundation/mixin" as *;
@use "../foundation/variables" as *;

.l-header {
  width: 100%;
  position: sticky;
  top: 0;
  @include z-index(header);
  background-color: $color-white;

  &__inner {
    width: min(92%, 1280px);
    min-height: 80px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    @include bp("sp-l") {
      min-height: 64px;
      gap: 16px;
    }
  }
}
