@use "../../foundation/mixin" as *;

.p-page,
.p-single,
.p-archive,
.p-not-found {
  padding-block: 80px;

  @include bp("sp-l") {
    padding-block: 48px;
  }
}

.p-page__body,
.p-single__body {
  margin-top: 32px;
}

.p-archive__list {
  display: grid;
  gap: 24px;
  margin-top: 32px;
}
