/*
* 共通FAQセクション
*/
@use "../../foundation/mixin" as *;
@use "../../foundation/variables" as *;

.p-sec-faq {
  background-color: $color-white;

  &__list {
    --faq-accordion-gap: 32px;
    --faq-accordion-gap-sp: 20px;

    max-width: 900px;
    margin: 80px auto 0;

    @include bp("tb") {
      --faq-accordion-gap: 24px;

      margin-top: 64px;
    }

    @include bp("sp-l") {
      margin-top: 48px;
    }
  }

  &__more.c-sec-btn {
    margin: 64px auto 0;

    @include bp("tb") {
      margin: 48px 0 0 auto;
    }
  }
}
