/*
* 背景ユーティリティ
*/
@use "../../foundation/mixin" as *;
@use "../../foundation/variables" as *;

.u-bg {
  &--main {
    background-color: $color-main;
  }

  &--accent {
    background-color: $color-accent;
  }

  &--pale {
    background-color: $color-gray;
  }

  &--gradient {
    background: $gradient-main;
  }
}
