/*
* コンテナユーティリティ
*/
@use "../../foundation/mixin" as *;
@use "../../foundation/variables" as *;

.u-container {
  width: min(calc(100% - 48px), 1200px);
  margin-inline: auto;

  @include bp("sp-l") {
    width: 90%;
  }

  &--narrow,
  &--min {
    width: min(calc(100% - 48px), 900px);

    @include bp("sp-l") {
      width: 90%;
    }
  }
}
